.dot {
  margin-left: 10px;
}

.cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardControl {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #cccbc2;
}

.cardContent {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  text-align: left;
  line-height: 300%;
}
